.app {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  align-items: center;
  gap: 4rem;
  padding-block: 5rem;
  min-height: 100vh;
  background-color: rgb(10, 10, 10, 0.025);
  background-color: rgb(10, 10, 10);
  /* background-color: white; */
}
