.app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  padding-block: 3rem;
  min-height: 100vh;
  background-color: rgb(10, 10, 10, 0.025);
  /* background-color: white; */
}
